body {
	font-family: 'neucha', sans-serif;
	font-size: 150%;
	background: url('fargo-bg.png');
}

main {
	width: 780px;
	margin: 2em auto;
	border: 1px solid black;
	background: #e1e5ec;
}

h1 {
	text-align: center;
}

.question {
	border: 1px solid black;
}

#windchill, #flood, #lakes, #weekend, .answer {
	display: none;
	padding: 20px;
	position: relative;
}

.progress-container {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 10px;
	width: 80px;
}

.progress {
	background: blue;
}